<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.getcrewd.crewd" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="co.getcrewd.crewd.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.getcrewd.crewd.FullscreenActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_activity2"
            android:parentActivityName="co.getcrewd.crewd.FullscreenActivity"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.getcrewd.crewd.FullscreenActivity" />
        </activity>
        <activity
            android:name="co.getcrewd.crewd.FinalStats"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_final_stats"
            android:parentActivityName="co.getcrewd.crewd.FullscreenActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="FullscreenActivity" />
        </activity>
        <activity
            android:name="co.getcrewd.crewd.RaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_race"
            android:parentActivityName="co.getcrewd.crewd.FullscreenActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="FullscreenActivity" />
        </activity>
    </application>

</manifest>
